@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 80px;
}

.header {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  font-family: Copperplate, fantasy;
}

.header img {
  border-radius: 50%;
}

button {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-left: 5px;
  color: #132c54;
  
}

.article-card {
  display: block;
}

.article-title {
  font-family: Copperplate, fantasy;
}
.article-image {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-width: 200px; /* Adjust as needed */
  max-height: 200px; /* Adjust as needed */
}

.article-card:hover {
  transform: perspective(1000px) rotateX(var(--rot-x)) rotateY(var(--rot-y)) scale(1.001);
  background: radial-gradient(circle at var(--drop-x) var(--drop-y), rgba(59, 174, 246, 0.3), transparent);
}


.news-headline-system {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2) ;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.news-headline-system .conveyor-belt-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.news-headline-system .conveyor-belt {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 500%;
}

.news-headline-system .conveyor-belt .article {
  flex: 0 0 20%; /* 5 articles per view */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-headline-system .conveyor-belt .article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-headline-system .conveyor-belt .article h4 {
  margin: 10px 0;
  font-size: 1rem;
  height: 3rem; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-headline-system .conveyor-belt .article:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.news-headline-system .conveyor-belt .article:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.news-headline-system .conveyor-belt .article:hover h4 {
  transform: scale(1.05);
}
 
.news-headline-system .nav-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.news-headline-system .nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.news-headline-system .nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.news-headline-system .prev-button {
  margin-right: 10px;
}

.news-headline-system .next-button {
  margin-left: 10px;
}

.news-headline-system .categories {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.categories button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid #3B82F6;
}

.categories-active {
  background-color: #3b83f688;
  color: white;
}