@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.article-card {
  display: block;
}

.article-image {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-width: 200px; /* Adjust as needed */
  max-height: 200px; /* Adjust as needed */
}

.article-card:hover {
  transform: perspective(1000px) rotateX(var(--rot-x)) rotateY(var(--rot-y)) scale(1.001);
  background: radial-gradient(circle at var(--drop-x) var(--drop-y), rgba(59, 174, 246, 0.3), transparent);
}